

.container {
    background-color: rgb(122, 211, 114);
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px;

}
    
.box {
    border: 2px solid #090909;
    border-width: 2px;
    
}

.box p{
     margin-left: 30px;
     font-size: 20px;
     color: #000 ;
     
}
.content{
    border: 2px solid black;
}
.main{
    margin-left: 20px;
}
.main h1{
    text-transform: capitalize;
    font-size: 22px

}
.main1{
    margin-left: 20px;
}
.main1 h1{
    text-transform: capitalize;
    font-size: 22px

}
.main2{
    margin-left: 20px;
}
.main2 h1{
    text-transform: capitalize;
    font-size: 22px

}